{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    {% for post in posts %}
        <article class="content-section">
            <div class="content-post">
                <div class="post-meta">
                    <a href="#" class="author-link">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted.date() }}</small>
                </div>
                <h2 class="mb-title"><a href="{{ url_for('post', post_id=post.id) }}" class="article-title">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content.capitalize() }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}